/* Add here all your css styles (customizations) */
span#newNotification {
    background: red;
    position: relative;
    top: -14px;
    left: -8px;
    display: none;
}

.header-popup-notification {
    margin: 12px;
    font-size: 12px;
}

table.table.table-hover.table-condensed.notification-popup-table {
    font-size: 13px;
}

td.notification-icon-td {
    width: 25%;
}

.popup-menu-header {
    margin: 8px;
}

.popup-small-icon {
    font-size: 14px !important;
    display: inline;
}

img.loader-popup-img {
    width: 21px !important;
    display: none;
}

.item-list {
    width: 225px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    position: relative;
}

.product-description.product-description-brd {
    height: 150px;
}

.new-notification-tr{
    font-weight: bold;
}

td.notification-icon-full-td {
    width: 5%;
}

.notification-detail-tr {
    height: 300px;
    background-color: #f8f8f8;
    display: none;
}

img.notification-img {
    max-height: 250px;
}

.footer-v4 {
    margin-top: 30px;
}

input#titleInput {
    width: 100%;
    margin-bottom: 20px;
}

input#loanPeriodInput {
    width: 70px;
}
textarea#descriptionInput {
    width: 100%;
    margin: 20px 0px 20px 0px;
}

select#categorySelect {
    /*width: 20%;*/
}

select#languageSelect {
    /*width: 20%;*/
}

input#isbnInput {
    /*width: 20%;*/
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input#pictureCover {
    width: 100%;
}

div#edit-input-group-div {
    width: 100%;
}

span#edit-input-group-button {
    width: 100%;
    background: #18ba9b;
    border: solid 1px #18ba9b;
}

ul.list-inline.sponsors-icons.pull-right {
    margin-right: 30px;
}

td.book-cover-thumbnail-td {
    width: 110px;
    text-align: center;
}
td.arrow-down-td {
    width: 2%;
}
span.book-title-span {
    color: #18ba9b;
}

span.timestamp-span {
    font-size: 12px;
}

small.shop-bg-green.time-day-left {
    padding: 2px;
}

li.like-icon {
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}

.edit-user-div {
    margin: 0px 200px 0px 200px;
}
.product-description.product-description-brd.product-title {
    position: relative;
}

ul.list-inline.product-ratings.edit-book-button {
    position: absolute;
    bottom:0;
    right:0;
}

.book-edit-full-width {
    width: 100%;
}

.book-search-button {
    height: 33px;
}

input#search-input {
    /*width: 400px;*/
}

form#search-form {
    margin-bottom: 30px;
}

a#add-new-author {
    background-color: #18ba9b;
    color: white;
}