/* Add here all your css styles (customizations) */
span#newNotification {
    background: red;
    position: relative;
    top: -14px;
    left: -8px;
    display: none;
}

.header-popup-notification {
    margin: 12px;
    font-size: 12px;
}

table.table.table-hover.table-condensed.notification-popup-table {
    font-size: 13px;
    /*margin-left: 5px;*/
}
.user-greeting {
    margin-left: 5px;
}
.dropdown-menu-div {
    margin-top: 8px;
    margin-left: 5px;
}

td.notification-icon-td {
    width: 25%;
}

.popup-menu-header {
    margin: 8px;
}

.popup-small-icon {
    font-size: 14px !important;
    display: inline;
}

img.loader-popup-img {
    width: 21px !important;
    display: none;
}

.item-list {
    width: 225px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    position: relative;
}

.product-description.product-description-brd {
    min-height: 100px;
}

.new-notification-tr{
    font-weight: bold;
}

td.notification-icon-full-td {
    width: 5%;
}

.notification-detail-tr {
    height: 300px;
    background-color: #f8f8f8;
    display: none;
}

img.notification-img {
    max-height: 250px;
}

.footer-v4 {
    margin-top: 30px;
}

input#titleInput {
    width: 100%;
    margin-bottom: 20px;
}

input#loanPeriodInput {
    width: 70px;
}
textarea#descriptionInput {
    width: 100%;
    margin: 20px 0px 20px 0px;
}

select#categorySelect {
    /*width: 20%;*/
}

select#languageSelect {
    /*width: 20%;*/
}

input#isbnInput {
    /*width: 20%;*/
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input#pictureCover {
    width: 100%;
}

div#edit-input-group-div {
    width: 100%;
}

span#edit-input-group-button {
    width: 100%;
    background: #18ba9b;
    border: solid 1px #18ba9b;
}

ul.list-inline.sponsors-icons.pull-right {
    margin-right: 30px;
}

td.book-cover-thumbnail-td {
    width: 110px;
    text-align: center;
}
td.arrow-down-td {
    width: 2%;
}
span.book-title-span {
    color: #18ba9b;
}

span.timestamp-span {
    font-size: 12px;
}

small.shop-bg-green.time-day-left {
    padding: 2px;
}

li.like-icon {
    margin: 0px 6px 0px 6px;
    font-size: 18px;
}

.edit-user-div {
    margin: 0px 20px 0px 20px;
}
.product-description.product-description-brd.product-title {
    position: relative;
}

ul.list-inline.product-ratings.edit-book-button {
    position: absolute;
    bottom:0;
    right:0;
}

.book-edit-full-width {
    width: 100%;
}

.book-search-button {
    height: 33px;
}

input#search-input {
    /*width: 400px;*/
}

form#search-form {
    margin-bottom: 30px;
}

a#add-new-author {
    background-color: #18ba9b;
    color: white;
}
.action-button-div {
    margin-top: 10px;
}
.x-small-cursive {
    font-size: x-small;
    font-style: italic;
}

.edit-author-div {
    width: 80%;
}

label.input {
    display: inherit;
}

div#userInfoContainer {
    z-index: 100;
}
em.invalid {
    color: #e74c3c;
    font-weight: bold;
}

button.btn-disabled {
    background: lightgray !important;
}

button.btn-disabled:hover {
    background: lightgray !important;
}

.book-description-detail {
    margin-bottom: 15px;
}

ol.faq-ol > li {
    margin-top: 20px;
    margin-bottom: 5px;
}

.shop-badge.badge-icons.pull-right {
    right: 0px;
}

button#privateUseButton {
    float: right;
}

.quotes-div {
    font-size: 30px;
    color: white;
}


@media (max-width: 991px) {
    .main-cover {
        max-width:50%;
    }
}

@media (max-width: 768px) {
    .main-cover {
        max-width:50%;
    }
}

@media (max-width: 600px) {
    .main-cover {
        max-width:100%;
    }
    .login-welcome-text-responsive {
        display: none;
    }
}

.pageButtonContainer {
    float: right;
}

.image-container {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.success-ol {
    color: #ccc;
    list-style-type: none;
}

ol.success-ol > li {
    position: relative;
    font: bold italic 35px 'Open Sans', sans-serif;
    padding-bottom:24px;
}

ol.success-ol > li > p {
    font: 14px 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-top: 5px;
    color: #687074;
}

ol.success-ol > li > span {
  position: absolute;
}

td.book-cover-thumbnail-td.td-vertical-align-middle {
    vertical-align: middle;
}

img.activity-icon {
    width: 30px;
}
.forgot-password {
    text-align: center;
}

.password-max300 {
    max-width: 300px;
}

button#changePasswordButton {
    margin: 5px;
}

button#saveButton {
    margin: 5px;
}

.buechertisch {
    max-width: 100%;
    display: block;
    margin: auto;
    margin-top: 30px;
}
